.admin-layout {
    display: flex;
    flex-direction: column;
  }
  
  .admin-content {
    display: flex;
    transition: all 0.3s ease;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
    transition: margin-left 0.3s ease;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 75px;
  }
  
  .with-sidebar {
    margin-left: 230px;
  }
  
  .full-width {
    margin-left: 80px;
  }